*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.first-page{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  border-radius: 50%;
  max-width: 130px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}

.nawigacja{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 20px 5%;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
  background:linear-gradient(to bottom, rgba(245,193,64,96), rgba(255, 122, 89,0));
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li{
  list-style: none;
  padding: 0 20px;
  margin-right: 20px;
}

.menu li a{
  text-decoration: none;
  font-weight: 550;
  font-size: 24px;
  color:#FFFFFF;
}

nav ul li a:hover{
  color:#5C87FF;
  transition: 0.8s ease;
}

nav ul li a:after{
  content: '';
  position: absolute;
  left:50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: #5C87FF;
  -webkit-transition: transform 250ms;
  transition: transform 250ms;
}

nav ul li a:hover:after{
  -webkit-transform:translateX(-50%) scaleX(1);
  transform:translateX(-50%) scaleX(1);
}

.home video{
  z-index: 000;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content{
  text-align: center;
  margin-top: -180px;
}

.content h1{
  font-size: 130px;
  color: #fff;
  font-weight: 600;
  left: 10%;
  top:80%;
  opacity: 0.8;
}

.content a{
  text-decoration: none;
  display: inline-block;
  color: rgba(255,255,255,0.7);
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  position: absolute;
  top: 67%;
  left: 44%;
  opacity:0.9;
  letter-spacing: 2px;
  transition: 0.7s ease;
}

.content a:hover{
  background-color: #4070F4;
  color: #FFFF;
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.About{
  width: 100%;
  height: 100vh;
  padding: 100px 0px;
  background-color: #EFEFEF;
}

.About img{
  height: auto;
  width: 540px;
  margin-right: 110px;
  -webkit-box-shadow: -7px 7px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: -7px 7px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: -7px 7px 24px 0px rgba(66, 68, 90, 1);
  display: block;
  border-radius: 10px;
}

.About-text{
  width: 550px;
}

.main{
  width: 1150px;
  max-width: 95%;
  margin-top: 25vh;
  margin-left: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.About-text h2{
  font-size: 65px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 20px;

}

.About-text p{
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 4px;
}


.thirdpage{
  width: 100%;
  height: 100vh;
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}

.thirdpage h1{
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-container{
  margin-bottom: -60px;
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;

}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 235px;
  width: 170px;
  border-radius: 10%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 600;
  color: #333;
  padding: 10px;
}
.description{
  font-size: 16px;
  color: #707070;
  padding: 10px;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

.fourthpage{
  width: 100%;
  height: 100vh;
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
